section {
  display: flex;
  flex-wrap: wrap;
}
form {
  border: 3px solid palevioletred;
  width: 40vw;
  padding: 20px 40px;
}
label {
  display: inline-block;
  width: 15vw;
  margin: 5px;
}
input,
textarea {
  display: inline-block;
  width: 21vw;
  margin-bottom: 20px;
  padding: 4px;
}
.section-header {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
section > h3 {
  width: 100%;
  text-transform: uppercase;
}
.submit-btn img {
  height: 1rem;
}
.submit-btn {
  height: min-content;
  padding: 2px;
  margin-left: 5px;
}
.plus-icon {
  height: 2rem;
  position: relative;
  top: 15px;
  cursor: pointer;
}
#root > div {
  display: flex;
  justify-content: space-around;
}
